* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #111111;
  color: #f4f4f4;
}
/* NAVBAR */
nav {
  background-color: #111111;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
nav .navbar {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo a {
  font-size: 25px;
  font-family: cursive;
  text-transform: uppercase;
  color: #ca1c26;
  font-weight: bolder;
  text-decoration: none;
}
.nav ul {
  display: inline-flex;
}
.nav li {
  list-style-type: none;
  margin: 0 10px;
  text-transform: capitalize;
}
.nav a,
.N-mobile a {
  text-decoration: none;
  color: #ca1c26;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  padding: 10px 12px;
  cursor: pointer;
}
.nav a:hover,
.N-mobile a:hover {
  border-top: 2px solid #f4f4f4;
  border-bottom: 2px solid #f4f4f4;
}
.N-mobile a:hover {
  color: #f4f4f4;
}
.active22 {
  background-color: #f4f4f4;
}
.My-cv button,
.abt-write button,
.N-mobile button {
  color: #f4f4f4;
  background-color: #ca1c26;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 13px 22px;
  border: none;
  box-shadow: 1px 1px 5px #c71b29;
  cursor: pointer;
}
.My-cv button:hover,
.nav_mobile button:hover {
  background-color: #c71b29;
}
.xlick {
  font-size: 2rem;
  display: none;
}
.xlick .fa-bars,
.xlick .fa-xmark {
  display: none;
  cursor: pointer;
}
.xlick .fa-xmark {
  color: #ca1c26;
}
/* NAV MOBILE */
.N-mobile {
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  padding-left: 2rem;
  display: none;
}
.N-mobile ul li {
  margin-bottom: 1.5rem;
  list-style-type: none;
  text-transform: capitalize;
}
/* MAIN SECTION */
main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 42rem;
  padding-top: 7rem;
  border-bottom: 2px solid #ca1c26;
}
main .about-me {
  color: #ca1c26;
  width: 480px;
}
main .about-me h4 {
  font-size: 17px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}
main .about-me h1 {
  font-size: 27px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  margin-bottom: 7px;
}
main span {
  color: #f4f4f4;
  font-size: 40px;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
}
main p {
  color: #7a7979;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  line-height: 1.4;
  margin: 20px 0 55px;
}
.btn {
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  padding: 12px 30px;
  text-transform: capitalize;
  border-radius: 10px;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}
.hireme {
  color: #f4f4f4;
  outline: 2px solid #f4f4f4;
  margin-right: 15px;
}
.hireme:hover {
  color: #ca1c26;
  background-color: #f4f4f4;
}
.portfolio {
  color: #ca1c26;
  outline: 1px solid #ca1c26;
}
.portfolio:hover {
  color: #f4f4f4;
  background-color: #ca1c26;
}
.profile-picture {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 3px solid #ca1c26;
  padding: 0.5rem;
}
.profile-picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.icons {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.icons > div {
  width: 2.3rem;
  height: 2.3rem;
  background-color: #ca1c26;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.icons a {
  font-size: 0.8rem;
  color: #f4f4f4;
}
.icons div:hover a {
  cursor: pointer;
  transform: scale(1.1);
}
.icons div:hover {
  background-color: transparent;
  outline: 2px solid #ca1c26;
  transform: scale(1.02);
}
/* ABOUT ME */
#About-me {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 1.5rem;
}
.abt-image {
  padding-top: 3rem;
}
.abt_img {
  width: 270px;
  height: 350px;
  background-color: #1e1e1e;
  position: relative;
}
.abt_img div {
  max-width: 300px;
  height: 370px;
  position: absolute;
  bottom: 1.5rem;
  right: -4.5rem;
}
.abt_img img {
  width: 100%;
  height: 100%;
}
.abt-header {
  position: relative;
}
.abt-header h1,
.skill-header h1,
.proj-header h1 {
  color: #f4f4f4;
  font-size: 2.4rem;
  text-transform: capitalize;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  margin-bottom: 1.5rem;
}
.abt-header p,
.skill-header p,
.proj-header p {
  color: #7a7979;
  font-size: 0.85rem;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  line-height: 1.7rem;
}
.trans {
  color: rgb(202, 28, 38, 0.2);
  font-size: 5rem;
  text-transform: capitalize;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
}
.abt-header .trans1 {
  position: absolute;
  top: 0;
  z-index: -1;
}
.abt-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
.abt-list ul li {
  list-style-type: none;
  text-transform: capitalize;
  font-size: 0.9rem;
}
.abt-list ul li:not(:last-child) {
  margin-bottom: 1rem;
}
.abt-list ul:first-child {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
}
.abt-list ul:last-child li {
  font-size: 0.85rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.abt-write {
  max-width: 480px;
}
.abt-write h3 {
  font-size: 1.1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #7a7979;
  margin-top: 2rem;
}
.abt-write span {
  color: #ca1c26;
  font-weight: 900;
  margin-right: 0.2rem;
}
.abt-write button {
  font-size: 0.8rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0.7rem 1.2rem;
  border: none;
  background-color: #ca1c26;
  color: #f4f4f4;
  margin-top: 1.5rem;
  box-shadow: 1px 1px 5px #c71b29;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.abt-write button:hover {
  background-color: #db1620;
}
/* MY SKILL */
#My-skill {
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0.5rem;
}
.skill-header,
.proj-header {
  text-align: center;
}
.skill-header .head,
.proj-header .head {
  width: fit-content;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.trans2 {
  position: absolute;
  top: 0;
  right: -2.5rem;
  font-style: 5.5rem;
  z-index: 1;
}
#skill-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
  flex-wrap: wrap;
}
.skill-list {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.skil-li1 {
  width: 10rem;
  max-width: 35rem;
}
.skill-circle {
  width: 6rem;
  height: 6rem;
  border: 2px solid #7a7979;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  border-radius: 50%;
  margin: 0 auto 1rem;
  color: #ca1c26;
}
.skil-li1:hover .skill-circle {
  border: 2px solid #ca1c26;
}
.skill-list > div:first-child {
  margin-bottom: 1.5rem;
}
.skil-li1 div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
.skill-list .skil-li1 h3 {
  color: #f4f4f4;
  font-size: 0.85rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}
.skill-list .line1 {
  width: 100%;
  height: 0.5rem;
  background-color: #7a7979;
  border-radius: 10px;
}
.skill-list .line2 {
  width: 95%;
  height: 0.5rem;
  background-color: #ca1c26;
  border-radius: 10px;
}
.line2.css {
  width: 75%;
}
.line2.js {
  width: 55%;
}
.line2.bts {
  width: 65%;
}

/* PROJECTS */
#projects {
  padding: 7rem 3rem 3rem;
}
.trans3 {
  position: absolute;
  top: 0;
  right: -4.5rem;
  font-style: 5.5rem;
  z-index: -1;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 3rem;
  flex-wrap: wrap;
}
.card-container a {
  text-decoration: none;
  color: #7a7979;
}
.proj-card1 {
  background-color: #1e1e1e;
  width: 25rem;
  max-width: 25rem;
  height: 20rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  box-shadow: 0 1px 1rem rgb(88, 86, 86, 0.2);
}
.proj-card1::before {
  content: "";
  width: 10%;
  height: 10%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(202, 28, 38, 0.2);
  transition: all ease-in-out 0.3s;
}
.proj-card1:hover::before {
  width: 100%;
  height: 100%;
  background-color: rgb(202, 28, 38, 0.7);
  z-index: -1;
}
.proj-card1:hover h5,
.proj-card1:hover p,
.proj-card1:hover i {
  color: #f4f4f4;
}
.proj-card1:hover .iconbox {
  background-color: rgb(244, 244, 244, 0.2);
}
.card-sub {
  width: 90%;
}
.card-sub .iconbox {
  width: 4rem;
  height: 4.5rem;
  background-color: rgb(202, 28, 38, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  color: #7a7979;
  margin: auto;
}
.card-sub h5 {
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #585656;
  margin: 1.4rem 0 1.2rem;
  text-transform: capitalize;
}
.card-sub p {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.72rem;
}
/* FOOTER SECTION*/
#footer {
  display: flex;
  align-content: center;
  justify-content: space-around;
  color: #7a7979;
  background-color: #1e1e1e;
  padding: 20px 0;
}
.footer-nav ul {
  display: flex;
}
.footer-nav ul li {
  margin-left: 30px;
}
.footer-nav ul li:first-child {
  list-style: none;
}
.footer-nav ul li a,
.phone a {
  color: #7a7979;
  text-decoration: none;
}
.footer-nav ul li a:hover {
  color: #f4f4f4;
  text-decoration: underline;
  cursor: pointer;
}
.footer-nav ul li:hover::marker {
  color: #f4f4f4;
}
.phone a {
  padding: 10px 15px;
  border: 2px solid #7a7979;
  border-radius: 20px;
}
.phone .bi {
  margin-right: 5px;
}
.phone > a {
  margin-right: 5px;
}
.phone > a:hover {
  color: #f4f4f4;
}

/********************
    RESPONSIVENESS
    **********************/
@media screen and (max-width: 1070px) {
  #About-me {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
}
@media screen and (max-width: 1020px) {
  #footer .footer-nav {
    display: none;
  }
}
@media screen and (max-width: 890px) {
  .xlick {
    display: block;
  }
  .xlick .fa-bars {
    display: block;
  }
  nav .navbar {
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .nav,
  .My-cv {
    display: none;
  }
  #Home main {
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
  }

  #Home main .about-me {
    width: 100%;
  }
  #Home main .icons {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
  }
  .profile-picture {
    display: none;
  }
  #footer .footer-nav {
    display: none;
  }
  #footer p {
    font-size: 0.85rem;
  }
  .phone a {
    font-size: 0.85rem;
    padding: 5px 7px;
  }
}
